* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background-color: rgba(241, 241, 241, 1);
  width: 100%;
}
.home {
  /* border: 2px solid springgreen; */
  margin-top: 65px;
  padding: 10px 50px;
}
h4 {
  color: white;
}
.login-logo {
  height: 150px;
}
.login {
  height: 100vh;
}
.signup {
  height: 100vh;
}
@media screen and (max-width: 450px) {
  .home {
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
    /* align-items: center; */
    width: 90%;
    margin: 0px;
    padding: 80px 1% 0px 8%;
  }
  .home-title {
    font-size: 15px !important;
    margin: 0 !important;
  }
  .login-logo {
    padding-top: 30px;
    height: 100px;
  }
}
